.dailyActivity {
	grid-area: daily;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"title legend"
		"graph graph";
	gap: 1rem;

	width: 100%;
	height: 100%;
	padding: 1rem;
	border-radius: 0.5rem;

	background-color: #fbfbfb;

	&__title {
		grid-area: title;

		padding: 0.5rem 1rem;

		font-size: 1rem;
		font-weight: 500;
		color: #20253A;
	}

	&__legend {
		grid-area: legend;
		display: flex;
		gap: 3rem;

		padding: 0.5rem 1rem;

		span {
			position: relative;

			font-size: 1rem;
			font-weight: 500;
			color: #74798C;

			&::before {
				content: "";
				position: absolute;
				inset: 50% auto auto -0.75rem;
				translate: 0 -50%;

				width: 6px;
				height: 6px;
				border-radius: 50%;
			}

			&:nth-child(1)::before {
				background-color: #0c0c0c;
			}

			&:nth-child(2)::before {
				background-color: #e60000;
			}
		}
	}

	&__graph {
		grid-area: graph;

		svg {
			width: 100%;
			height: 100%;

			.rect-weight, .rect-weight-top {
				fill: #e60000;
			}

			.rect-calories, .rect-calories-top {
				fill: #282d30;
			}

			.x-axis-scale text,
			.y-axis-weight text,
			.y-axis-calories text {
				font-size: 1rem;
				font-family: Roboto;
				color: var(--clr-textGrey);
			}

			.x-axis-scale line,
			.x-axis-scale path,
			.y-axis-weight line,
			.y-axis-weight path,
			.y-axis-calories line,
			.y-axis-calories path {
				color: transparent;
			}

			.base-line {
				stroke: var(--clr-textGrey);
			}

		}

		.tooltip-daily {
			position: absolute;
		}
	}
}
