.perf {
	grid-area: perf;

	border-radius: 0.5rem;

	background-color: #282d30;

	svg {
		width: 100%;
		height: 100%;

		.axis-label {
			fill: var(--clr-textLight);
			font-size: 0.75rem;
		}

		#axis-label-0 {
			translate: -15px 15px;
		}

		#axis-label-1 {
			translate: -45px 5px;
		}

		#axis-label-2 {
			translate: -65px 0;
		}

		#axis-label-3 {
			translate: -25px -10px;
		}

		#axis-label-4 {
			translate: 5px 0px;
		}

		#axis-label-5 {
			translate: 5px 10px;
		}
	}
}

@media screen and (width < 1440px) {
	.perf {
		aspect-ratio: 1 / 1;
	}
}
