// TODO : Change the display grid to something more responsive with auto-fit and auto-columns
.dashboard {
	display: flex;
	flex-flow: column nowrap;
	gap: 3rem;

	padding: 4rem 3rem;
	overflow: scroll;

	&__heading {
		display: flex;
		flex-flow: column nowrap;
		gap: 1.5rem;
	}

	&__title {
		font-size: 2.5rem;

		b {
			color: var(--clr-primary-400);
		}
	}

	&__message {
		font-size: 1rem;
		font-weight: 500;
	}

	&__content {
		display: flex;
		justify-content: center;
		gap: 2rem;
	}

	&__charts {
		--column-count: 3;
		--column-max-size: 300px;
		--row-size: 300px;

		display: grid;
		grid-template-columns: repeat(var(--column-count), minmax(min(var(--column-max-size), 100%), 1fr));
		grid-template-rows: var(--row-size) auto;

		gap: 2rem;
	}

	&__indicators {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
}

.loading {
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	gap: 2rem;

	font-size: 2rem;
}

.loading-icon {
	animation-name: rotation;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes rotation {
	0% {
		rotate: 0deg;
	}
	50% {
		rotate: -180deg;
	}
	100% {
		rotate: -360deg;
	}
}

@media screen and (width < 1440px) {
	.dashboard {
		padding: 2.5rem;
		
		&__content {
			flex-flow: column nowrap;
			gap: 1.5rem;
		}

		&__charts {
			--column-count: 2;

			gap: 1.5rem;
			justify-items: center;
			align-items: center;
		}

		&__indicators {
			flex-flow: row wrap;
			gap: 1rem;
		}
	}
}

@media screen and (width < 800px) {
	.dashboard {
		padding: 1.5rem;

		&__charts {
			--column-count: 1;
		}
	}
}
