.sessionDuration {
	grid-area: time;
	display: grid;
	place-items: center;
	position: relative;

	width: 100%;
	height: 100%;
	border-radius: 0.5rem;

	background-color: #ff0000;
	color: #fafafa;
	text-align: center;

	&__title {
		position: absolute;
		inset: 1rem auto auto 1rem;

		width: 10rem;

		font-size: 1rem;
		text-align: left;
		color: #ffa3a3;
	}

	svg {
		width: 100%;
		height: 100%;

		.y-axis line,
		.y-axis path,
		.x-axis line,
		.x-axis path {
			color: transparent;
		}

		.y-axis text,
		.x-axis text {
			font-size: 1rem;
			font-family: Roboto;
			color: #ffa3a3;
		}
	}
	.tooltip-sessionDuration {
		position: absolute;

		padding: 0.5rem;
		border: 1px solid #282d30;
		border-radius: 5px;

		background-color: white;
		color: #282d30;
	}
}

@media screen and (width < 1440px) {
	.sessionDuration {
		aspect-ratio: 1 / 1;
	}
}
