.indicator {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr 1fr;
	align-items: center;
	gap: 0 2rem;

	width: 15rem;
	padding: 1rem;
	border-radius: 0.5rem;
	border: 1px solid var(--clr-textLight);

	background-color: var(--clr-chart-background);
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

	&__image {
		grid-row: span 2;
	}

	&__value {
		font-size: 1.25rem;
		font-weight: 600;
		color: var(--clr-text);
	}

	&__name {
		font-size: 1rem;
		font-weight: 400;
		color: var(--clr-text);
	}
}
